---
import Layout from "../layouts/Layout.astro";
// import Card from "../components/Card.astro";
import {
  AiFillTwitterCircle,
  AiFillGithub,
  AiFillLinkedin,
} from "react-icons/ai";
import { SiHashnode } from "react-icons/si";
---

<Layout title="Mahesh Vagicherla | Portfolio">
  <div class="intro">
    <img class="profile" src="/profile.png" />
    <h2>Hey, I'm <span class="name">Mahesh</span></h2>
    <p>I Write <strong class="work">Software</strong></p>
    <div class="">
      <p class="connect">You can connect with me on:</p>
      <div class="social">
        <a href="https://twitter.com/b4s36t4" target="_blank"
          ><AiFillTwitterCircle className={"icon"} size={40} /></a
        >
        <a href="https://github.com/b4s36t4" target="_blank"
          ><AiFillGithub className={"icon"} size={40} /></a
        >
        <a href="https://linkedin.com/in/maheshvagicherla" target="_blank"
          ><AiFillLinkedin className={"icon"} size={40} /></a
        >
        <a href="https://hashnode.com/@b4s36t4" target="_blank"
          ><SiHashnode className={"icon"} size={40} /></a
        >
      </div>
    </div>
  </div>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  .connect {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
  }

  .social > * {
    cursor: pointer;
    color: var(--text);
  }

  .icon {
    margin: 5px 10px;
  }

  .profile {
    width: 250px;
    height: 280px;
    border-radius: 40%;
    aspect-ratio: 1;
  }

  .intro {
    margin-top: 2rem;
    text-align: center;
    font-size: 24px;
  }

  .work {
    font-size: 28px;
  }

  .name {
    position: relative;
    transition: all 0.4s ease-in-out;
    color: inherit;
  }

  .name:hover::after {
    height: 15px;
  }

  .name::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -2px;
    z-index: -1;
    border-radius: 1px;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(
      90deg,
      rgba(123, 89, 212, 1) 0%,
      rgba(69, 9, 121, 0.9948573179271709) 45%,
      rgba(156, 42, 163, 1) 100%
    );
  }
</style>
